@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

body{
  margin: auto;
  width: fit-content;
  background-color: #ebebeb;
}
body.active{
  background: #19191b;
  color: #c7c7c7;
  transition: all .1s ease-in-out;
}

.container{
  background-color: #fafafa;
  align-items: center;
  width: 322px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 3px 10px #b0b0b0;
  display: grid;
  margin: auto;
  margin-top: 15vh;
  transition: all .1s ease-in-out;
}
.container.active{
  background-color: #2e2d33;
  color: #fafafa;
  box-shadow: none;
  transition: all .1s ease-in-out;
}
h2 {
  text-align: center;
  font-family: mulish;
}

div.buttons{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(66px, 1fr));
  grid-gap: 2px;
  margin: auto;
}

button{
  height: 40px;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 2px;
  margin-right: 2px;
  border: none;
  text-decoration: none;
  appearance: none;
  cursor: pointer;
  position: relative;
  transition: all .1s ease-in-out;
}

button.active{
  position: relative;
  background-color: #48454e;
  color: #edededff;
  border: solid 1px #4f4f4f;
  transition: all .1s ease-in-out;
}

button.active:hover{
  background-color: #51bd9c;
  color: #212121ff;
  border: solid 1px #4f4f4f;
  transform: scale(1.05);
  transition: all .1s ease-in-out;
  border: none;
}

button[class=letra]:hover{
  color:white;
  background-color: #231b42;
  transform: scale(1.05);
  transition: all .1s ease-in-out;
}

.Output-Copy{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 10px;
}

.CopyButton{
  width: 100%;
  transition: all .1s ease-in-out;
}

.CopyButton.active{
  background-color: #48454e;
  color: #edededff;
  border: solid 1px #4f4f4f;
  transition: background .1s ease-in-out;
}

.CopyButton.active:hover{
  background-color: #ff0051;
  color: rgb(255, 255, 255);
  border: solid 1px #757575;
  transform: scale(1.05);
  border: none;
  transition: all .1s ease-in-out;
}

.CopyButton:hover{
  background-color: #ff0051;
  color: white;
  transform: scale(1.03);
}

div.input{
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 12px;
}

input[class=output]{
  width: 100%;
}

input[type=text]{
  height: 25px;
  width: 100%;
  padding: 5px;
}
input[class=output]{
  height: 25px;
  width: 232px;
  padding: 5px;
  text-align: center;
}

.light-dark {
  display: flex;
  align-items: center;
  margin: auto;
}

button[id=DarkChk]{
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all .2s ease-in-out;
}

button[id=DarkChk]:hover{
  background-color: #ff0051;
  color: white;
  border: none;
  transform: scale(1.05);
  transition: all .1s ease-in-out;
}
0